.python-version
__pycache__

.ipynb_checkpoints

.DS_Store

/data/*
!/data/dataSplit

/models/*
!/models/logs
/models/logs/*
!/models/logs/model_iter_14878
!/models/logs/log
!/models/logs/events.out.tfevents.1529244722.230475050eb2
